html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #563e91 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #563e91 !important;
  }
}

.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background: linear-gradient(to 45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
}













*.icon-white {
	color: white
}

*.icon-silver {
	color: silver
}

*.icon-green {
	color: green
}

*.icon-dark {
	color: gray
}

@media screen and (max-width: 768px) {
	/* small screen */
	div.full-details {
		display: none
	}
	div.less-details {
		display: block;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	/* medium screen */
	div.full-details {
		display: block;
	}
	div.less-details {
		display: none;
	}
	.hideable-column {
		display: none
	}
}

@media screen and (min-width: 1024px) {
	/* small screen */
	div.less-details {
		display: none;
	}
	.hideable-column {
		display: table-cell;
	}
}

.navbar {
	margin-top: 10px;
	height: 110px !important; /*i assume your navbar size 100px*/
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding: 1rem 0.8 .0rem;
	font-size: 1.3rem;
	font-family: 'Playfair Display', serif;
	position: relative;
}


/* .navbar-expand-lg .navbar-nav .nav-link:hover { */
/* 	border-top: 1x solid #e74c3c; */
/* } */

/* .navbar-expand-lg .navbar-nav .nav-link:active { */
/* 	border-top: 4x solid #e74c3c; */
/* 	color: #e74c3c; */
/* } */